
.header{
  background: white!important;
}

.search_form .jig-ncbiclearbutton-wrap {
    border: 1px solid #1d95ed!important;
}
.search_form .jig-ncbiclearbutton-wrap > input {
    border: none!important;
}
.search_form button.button_search {
    background-color: #1d95ed!important;
}
div.header{
box-shadow: 0 10px 6px -6px #777!important;
border-bottom: 5px solid #1d95ed;
}
div[data-section=header]{
  box-shadow: 0 10px 6px -6px #777!important;
  border-bottom: 10px solid #1d95ed;
}

ul.jig-ncbimenu a.topanchor {
    color: #0d5082!important;
}
.adtermtext {
color: #0d5082!important;
}
.myncbi a {
    color: #0d5082!important;
}
.myh1{
  color: #1d95ed!important;
}
#libtitle h1{
    color: #1d95ed!important;
}
/*logo*/
.res_logo h1 a{
  color: #1d95ed!important;
}

/*TEXT ARTICLE*/
h1.content-title {
  color: #375E97!important;
}
div.rprt_all  h1{
  color: #375E97!important;
}
h2{
    color: #F90B6D!important;
}
h3{
    color: #F90B6D!important;
}
h2.head {
  color: #F90B6D!important;
}
.abstr h3 {
  color: #F90B6D!important;
}
.heading4{
  color: #0068b5!important;
}
.graybannertext{
  color: #F90B6D!important;
}
p {
  color: #222!important;
}
p.title a {
  color: #0068b5!important;
}
a{
    color: #0068b5!important;
}
a:hover{
  color: #F90B6D!important;
}
sup{
    color: #375E97!important;
}
.firsttier_portlet h1, .firsttier_portlet h2, .firsttier_portlet h3, .firsttier_portlet h4, .firsttier_portlet h5, .firsttier_portlet h6 {
    color: #F90B6D!important;
}
#maincontent .links-box {
    border: 1px solid rgba(249, 11, 54, 0.3)!important;
      background-color: rgba(249, 11, 54, 0.7)!important;
    color: white!important;
}
#maincontent .links-box a {
  color: white!important;
}

/*COLUMN RIGHT*/
#rightcolumn {
    border-left: 1px solid #dadada!important;
    box-shadow: -0px 10px 20px -7px #777!important;
}

      /* pour gene */

      .rprt-section-header {
        background: #0064ad!important;
        box-shadow: 0 7px 6px -6px #777!important;
      }
      .rprt-section-header h2 a{
        color: white!important;
      }
      .sidecontentpullout_local {
        background-color: #157aab!important;
      }
      a.sidecontentpullout_local {
      color:white!important;
      }

.ctrl .portlet_head {
background-color: #1ba1e2!important;
border-color: #1ba1e2!important;
}
.ctrl .portlet_title h3 {
    color: #fff!important;
}
.portlet {
    border-top: .4em solid #1ba1e2!important;
}
.filters .portlet_list li.filter_selected a {
    color: white!important;
    background-color: #F74288!important;
}
.portlet h1, .portlet h2, .portlet h3, .portlet h4, .portlet h5, .portlet h6 {
    color: #F74288!important;
}
.ctrl div.portlet_content {
    background-color: #ffffff!important;
    border: 1px solid #1ba1e2!important;
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;

    border: 1px solid #e0e0e0;

}

/* The Close Button */
.close {
    color: #aaaaaa;
}

.close:hover,
.close:focus {
    color: #000;
}
#myBtn{
  color:#1ba1e2;
}
#summary h1 {
    color: #F74288!important;
}
#footer {
    background: none!important;
    border-top: 4px solid #1ba1e2!important;
}
input, textarea {
    border-radius: 10px;
    border: 1px solid #1ba1e2!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

select{
  border-radius: 10px;
  border: 1px solid #1ba1e2!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}
.filters p strong{
  color:#F74288!important;
}
.portlet .portlet_section_header {
    color: #F74288!important;
}
a.toc-item{
    color: #086E78!important;
}
.meta-content h1{
    color: #F74288!important;
}
.gap2_box_top {
    color: #fff!important;
    border: 1px solid #a1a5a9!important;
    background: #1ba1e2!important;
  }
.seqviewer .rprtheader h1{
  color:#1ba1e2!important;
}
pre b{
    color:#F74288!important;
}
pre{
    color: #222!important;
}
.ui-ncbigrid-outer-div {
    border: 1px solid #1ba1e2!important;
}

/*A TESTER*/
b{
  color:#1ba1e2!important;
}
/**/
.GenomeTitle{
    color:#F74288!important;
}
span.section_title{
      color:#F74288!important;
}

/*GENOME*/
.GenomeList2 th {
    background-color: #1d95ed!important;
    color: white!important;
}

/*medgen*/
.MedGenTitleText{
    color:#1ba1e2!important;
}
