
.header{
  background: white!important;
}
.search_form button.button_search {
    background-color: #8BC34A!important;
}
.search_form .jig-ncbiclearbutton-wrap {
    border: 1px solid #8BC34A!important;
}
.search_form .jig-ncbiclearbutton-wrap > input {
    border: none!important;
}
div.header{
box-shadow: 0 10px 6px -6px #777!important;
border-bottom: 5px solid #8BC34A;
}
div[data-section=header]{
  box-shadow: 0 10px 6px -6px #777!important;
  border-bottom: 10px solid #8BC34A;
}

ul.jig-ncbimenu a.topanchor {
    color: #8BC34A!important;
}

.myncbi a {
    color: #8BC34A!important;
}

/*logo*/
.res_logo h1 a{
  color: #086E78!important;
}
.firsttier_portlet h1, .firsttier_portlet h2, .firsttier_portlet h3, .firsttier_portlet h4, .firsttier_portlet h5, .firsttier_portlet h6 {
    color: #086E78!important;
}
/*TEXT ARTICLE*/
h1.content-title {
  color: #086E78!important;
}
div.rprt_all  h1{
  color: #086E78!important;
}
h2{
    color: #086E78!important;
}
h3{
    color: #086E78!important;
}
h2.head {
  color: #086E78!important;
}
.abstr h3 {
  color: #086E78!important;
}
p {
  color: #222!important;
}
a{
    color: #63942b!important;
}
a:hover{
  color: #086E78!important;
}
sup{
    color: #086E78!important;
}
#maincontent .links-box {
    border: 1px solid rgba(49, 171, 243, 0.3)!important;
    background-color: rgba(8, 110, 120, 0.7)!important;
    color: white!important;
}
#maincontent .links-box a {
  color: white!important;
}

/*COLUMN RIGHT*/
#rightcolumn {
    border-left: 1px solid #dadada!important;
    box-shadow: -0px 10px 20px -7px #777!important;
}
.rprt-header{
  color:#086E78!important;
}
      /* pour gene */

      .rprt-section-header {
        background: #086E78 !important;
        box-shadow: 0 7px 6px -6px #777!important;
      }
      .rprt-section-header h2 a{
        color: white!important;
      }
      .sidecontentpullout_local {
        background-color: #8BC34A !important;
      }
      a.sidecontentpullout_local {
      color:white!important;
      }

.ctrl .portlet_head {
background-color: #8BC34A !important;
border-color: #8BC34A !important;
}
.ctrl .portlet_title h3 {
    color: #fff!important;
}
.portlet {
    border-top: .4em solid #8BC34A!important;
}

.portlet h1, .portlet h2, .portlet h3, .portlet h4, .portlet h5, .portlet h6 {
    color: #086E78!important;
}
.ctrl div.portlet_content {
    background-color: #ffffff!important;
    border: 1px solid #8BC34A!important;
}
/* Modal Content */
.modal-content {
    background-color: #fefefe;

    border: 1px solid #e0e0e0;

}

/* The Close Button */
.close {
    color: #aaaaaa;
}

.close:hover,
.close:focus {
    color: #000;
}
#myBtn{
  color:#8BC34A ;
}
#summary h1 {
    color: #086E78!important;
}

#footer {
    background: none!important;
    border-top: 4px solid #8BC34A!important;
}
input, textarea {
    border-radius: 10px;
    border: 1px solid #8BC34A!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

select{
  border-radius: 10px;
  border: 1px solid #8BC34A!important;
  padding-left: 5px!important;
  padding-right: 5px!important;
}
.filters p strong{
  color:#086E78!important;
}
