.x-panel{
  width: 100%!important;
  overflow-x: hidden!important;
}
#rightcolumn .portlet_shutter{
width: 0px!important;
}
#rightcolumn:hover .portlet_shutter{
width: 15px!important;
}
#ncbi_share_book{
padding-top: 12px!important;
}

h1{
  color: #375E97!important;
  font-family: 'Roboto', sans-serif!important;
  font-size: 25px!important;
  font-weight: 300!important;
  margin: 0 0 16px!important;
}
