div.rprt:not(tr).full-rprt:hover {
    -webkit-transform: scale(1)!important;
    -ms-transform: scale(1)!important;
    transform: scale(1)!important;
    transition: all .2s ease-in-out;
    border-width: 0px !important;
  }
div.rprt:not(tr).full-rprt{
        border-width: 0px !important;
        border:none!important;
        box-shadow: -0px 0px 0px -0px #777!important;
        transition: all .2s ease-in-out;
    }
.mgSection{
  margin-top:40px!important;
}
.mgSection h1{
  padding-top: 15px!important;
}
div.leftCol div.portlet > div.portlet_head {
border-bottom:none!important;
}
div.leftCol div.portlet > div.portlet_head {
    padding-top: 10px!important;
}
div.leftCol div.portlet > div.portlet_head a.portlet_shutter{
      margin-top: 10px!important;
}

.MedGenTitleText{
  padding-top: 15px!important;
}
.nl{
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}
div.ln {
    line-height: 1.7!important;
}
