.sra-full-data{
  padding-bottom: 20px!important;
}
a.expand-handler span {
    color: inherit!important;
}
a.expand-handler {
    border-bottom: 0px!important;
}
.sra-full-data>div {
    color: inherit!important;
}
