.Genome {
  background-color : #ffffff!important;
}

.Aggr {
  margin-top : 50px!important;
}

div.Aggr {
  background-color : #ffffff!important;
}

td.BPTableHEx {
  border           : none!important;
  border-top       : 1px solide!important;
  background-color : #fff!important;
}

td.BPTableL,
td.BPTableLEx,
td.BPTableR,
td.BPTableREx {
  border : 1px solid #ddd!important;
}
