.header {
  background : white!important;
}

.search_form .jig-ncbiclearbutton-wrap {
  border : 1px solid #369!important;
}

.search_form .jig-ncbiclearbutton-wrap > input {
  border : none!important;
}

.adtermtext {
  color : #1ba1e2!important;
}

div.header {
  border-bottom : 5px solid #369;
  box-shadow    : 0 10px 6px -6px #777!important;
}

div[data-section=header] {
  border-bottom : 10px solid #369;
  box-shadow    : 0 10px 6px -6px #777!important;
}

ul.jig-ncbimenu a.topanchor {
  color : #0d5082!important;
}

.myncbi a {
  color : #0d5082!important;
}

/* logo */

.res_logo h1 a {
  color : #369!important;
}

.firsttier_portlet h1,
.firsttier_portlet h2,
.firsttier_portlet h3,
.firsttier_portlet h4,
.firsttier_portlet h5,
.firsttier_portlet h6 {
  color : #1ba1e2!important;
}

.myh1 {
  color : #375E97!important;
}

#libtitle h1 {
  color : #375E97!important;
}

/* TEXT ARTICLE */

h1.content-title {
  color : #375E97!important;
}

div.rprt_all h1 {
  color : #375E97!important;
}

#detail_div h1 {
  color : #375E97!important;
}

h1 {
  color : #375E97!important;
}

h2 {
  color : #1ba1e2!important;
}

h2.head {
  color : #1ba1e2!important;
}

h3 {
  color : #1ba1e2!important;
}

caption {
  color : #1ba1e2!important;
}

.abstr h3 {
  color : #1ba1e2!important;
}

.H4 {
  color : #1ba1e2!important;
}

.heading4 {
  color : #375E97!important;
}

.graybannertext {
  color : #1ba1e2!important;
}

p {
  color : #222!important;
}

p.title a {
  color : #375E97!important;
}

a {
  color : #375E97!important;
}

a:hover {
  color : #1ba1e2!important;
}

sup {
  color : #375E97!important;
}

#maincontent .links-box {
  color            : white!important;
  border           : 1px solid rgba(49, 171, 243, 0.3)!important;
  background-color : rgba(49, 171, 243, 0.70)!important;
}

#maincontent .links-box a {
  color : white!important;
}

/* COLUMN RIGHT */

#rightcolumn {
  border-left : 1px solid #dadada!important;
  box-shadow  : -0px 10px 20px -7px #777!important;
}

/* gene */

.rprt-section-header {
  background : #369!important;
  box-shadow : 0 7px 6px -6px #777!important;
}

.rprt-section-header h2 a {
  color : white!important;
}

.sidecontentpullout_local {
  background-color : #369!important;
}

a.sidecontentpullout_local {
  color : white!important;
}

.ctrl .portlet_head {
  border-color     : #369!important;
  background-color : #369!important;
}

.ctrl .portlet_title h3 {
  color : #fff!important;
}

.portlet {
  border-top : .4em solid #369!important;
}

.portlet h1,
.portlet h2,
.portlet h3,
.portlet h4,
.portlet h5,
.portlet h6 {
  color : #1ba1e2!important;
}

.filters .portlet_list li.filter_selected a {
  color            : white!important;
  background-color : #1ba1e2!important;
}

.ctrl div.portlet_content {
  border           : 1px solid #369!important;
  background-color : #ffffff!important;
}

/* Modal Content */

.modal-content {
  border           : 1px solid #e0e0e0;
  background-color : #fefefe;
}

/* The Close Button */

.close {
  color : #aaaaaa;
}

.close:focus,
.close:hover {
  color : #000;
}

#myBtn {
  color : #369;
}

#summary h1 {
  color : #1ba1e2!important;
}

#footer {
  border-top : 4px solid #369!important;
  background : none!important;
}

input,
textarea {
  padding-right : 5px!important;
  padding-left  : 5px!important;
  border        : 1px solid #369!important;
  border-radius : 10px;
}

select {
  padding-right : 5px!important;
  padding-left  : 5px!important;
  border        : 1px solid #369!important;
  border-radius : 10px;
}

.filters p strong {
  color : #1ba1e2!important;
}

.portlet .portlet_section_header {
  color : #1ba1e2!important;
}

a.toc-item {
  color : #086E78!important;
}

.meta-content h1 {
  color : #1ba1e2!important;
}

.gap2_box_top {
  color      : #fff!important;
  border     : 1px solid #a1a5a9!important;
  background : #369!important;
}

.seqviewer .rprtheader h1 {
  color : #369!important;
}

pre b {
  color : #1ba1e2!important;
}

.ui-ncbigrid-outer-div {
  border : 1px solid #369!important;
}

b {
  color : #369!important;
}

span.section_title {
  color : #369!important;
}

/* GENOME */

.GenomeList2 th {
  color            : white!important;
  background-color : #369!important;
}

/* medgen */

.MedGenTitleText {
  color : #369!important;
}

/* Structure */

.biotext {
  color : #1ba1e2!important;
}

.title-cd-name {
  color : #369!important;
}

td[bgcolor="#cccccc"] {
  color            : white!important;
  background-color : #369!important;
}

td[bgcolor="#ccccff"] {
  color            : white!important;
  background-color : #369!important;
}

.EntryTitle {
  color : #1ba1e2!important;
}

.PortletTitle {
  color : #1ba1e2!important;
}

.creditPJ {
  color : #369!important;
}
